/* ----------------------AddNewAssociation.jsx ------------------------- */

/* styling modal */
.modal-header {
    color: rgb(152, 103, 12);
    background-color: #add8e6;
}
.modal-body {
    color: black;
}
.modal-footer .btn-secondary {
    background-color: rgb(152, 103, 12);
    border: none;
}
.modal-footer .btn-secondary:hover {
    background-color: rgb(122, 60, 10)
}

/* ----------------------AssociationTable.jsx ------------------------- */

  /* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgb(246, 192, 93)
    /* font-weight: 500; */
 

 /* .table-striped>tbody>tr:nth-child(even)>td, 
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: white;
  }  */

table {
    margin-top: 30px;
    border: 1px solid rgb(19, 198, 204) !important;
    border-radius: 5px;
    box-shadow: 3px 0px 15px rgb(206, 205, 152);
}  

tr {
    height: 60px;
}

th, td {
    padding: 8px;
    text-align: center; 
    vertical-align: middle;
}
td {
    border-left: 2px solid rgb(242, 207, 142) !important;
    border-right: 2px solid rgb(242, 207, 142) !important;
    color: darkred !important;
}

td:last-child {
    text-align: center; 
}
  