*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.volunteer-container{
    padding-top: 50px;
}
input, select {
    text-align: center;
}
.custom-card {
    padding: 0 !important; 
    border-radius: 2em !important; 
  }
.card {
    padding: 0 !important; 
    box-shadow: 0px 2px 10px rgb(173, 176, 176);
}
img {
    border-bottom: 4px solid transparent;
    background: linear-gradient(to right, rgb(130, 169, 186), transparent);
}
p{
    text-align: left;
    padding-left: 20px;
}
.card, .card-body {
    position: relative;
    /* padding: 30px 10px 30px 10px; */
    border-radius: 50px;
}
.editIcon:hover {
    cursor: pointer;
}
.dodatnaKlasa {
    margin-top: 30px;
    border-radius: 2px !important;
    box-shadow:none;
    background: linear-gradient(to left, rgb(191, 218, 230), transparent);
    border:none;
    padding: 100px;
    max-width: 400px;
}
/* p {
    color: rgb(124, 84, 18)
} */

img {
    border-radius:  0!important;
    overflow: hidden;
  }
.prviRed {
    color: rgb(185, 130, 42);
    font-size: 20px;
    letter-spacing: 0.8rem;
    text-align: center;
} 
.checkboxes {
    padding-top: 20px;
}
.podrtanTekst {
    text-decoration: underline 1px orange;
}
.treciRed {
    font-size: 20px;
    text-align: center;
    padding: 0 60px 0 60px;
    letter-spacing: .2rem;
    color: rgb(198, 169, 122);
}

.listOfCheckboxes {
    max-width: 300px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5%;
    color: rgb(73, 1, 73);
    text-align: left;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 20px;
    row-gap:2px;
}
.listOfCheckboxes label {
    color: rgb(73, 1, 73);
}
.listOfCheckboxes input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border: 2px solid #ccc; 
    border-radius: 4px; 
    cursor: pointer;
}


.react-tel-input.form-control, .custom-file {
    width: 100%;
    text-align: left;
    padding: 20px 0 20px 0;
}

#root {
    width: 1400px;
}
.container {
    width: 1300px;
    padding-top: 60px;
}

.comment {
    border-radius: 2em;
    border: 1px solid rgb(90, 194, 194);
    background-color: rgb(223, 249, 249);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.comments span {
    padding-left: 5px;
}
.dropdown {
    width: 100%;
    color: rgb(42, 41, 41);
    font-weight: 400;
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 2px solid #e6ecf1;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 20px 0 20px 0;
}

.dropdown:hover, .dropdown:active {
    border-color: #c5e4f9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .addNewTitle {
    margin-bottom: 30px;
    color:  #73b7e4;
  }

.input-group.mb-2 {
    margin-top: 20px;
}

#inputGroupFile02 {
    color: #73b7e4;
}
.ikonice {
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 7px;
}
/* to hide Odaberi grad */
.form-select:focus option[value=""] {
    display: none; 
}
