/*--------------------------------------- ActivityCard------------------------------------------- */

.activity_cards {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5%;
    padding: 15px !important; 
}
.custom-card-activity {
    box-shadow: 2px 0 0 0.2rem rgb(237, 223, 200) !important;
}
.actTitle {
    color:  rgb(17, 153, 163);
    font-weight: 700;
    font-style: italic;
}

.actP {
    color: #9b3a02;
}
.actImg {
    border-top-left-radius: 2em !important;
    border-top-right-radius: 2em !important;
    opacity: 0.9;
    background: linear-gradient(to right, rgb(241, 198, 157), transparent);
    margin-bottom: 10px;
}
/* .activity_cards .col:nth-child(odd) .actCard {
    background-color:rgb(227, 227, 148);
}

.activity_cards .col:nth-child(even) .actCard {
    background-color: rgb(150, 198, 214);
}  */

/*--------------------------------------- AddNewActivity------------------------------------------- */


.add-new-activity-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* --------------------------------------DetailedActivityCard-------------------------------------- */

.obicnaSlika
{
    margin-top: 100px;
    border: none;
    border-radius: 5%;
    border-bottom-left-radius: none !important;
    background: transparent !important;
    max-width: 500px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: left;
    color: rgb(70, 5, 70);
}
.activityName {
    color: purple;
    margin: 20px 0 20px 0;
}

.detaljnije {
    color: rgb(3, 50, 97);
}
.activityInfo {
    font-size: 20px;
}
.acivityVol {
    padding: 0 30px 30px 30px;
    font-style: italic;
    color: darkred;
}